/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/assets/css/bootstrap.rtl.css
*.php
*.php
app/Models/User.php
app/Http/Controllers/UsersController.php
app/Models/User.php
public/assets/fonts/ArbFONTS-Tajawal-Bold-1.ttf
public/assets/fonts/ArbFONTS-Tajawal-Black.ttf
public/assets/fonts/ArbFONTS-Tajawal-Bold.ttf
public/assets/fonts/ArbFONTS-Tajawal-ExtraBold.ttf
public/assets/fonts/ArbFONTS-Tajawal-Light.ttf
public/assets/fonts/ArbFONTS-Tajawal-Regular-1.ttf
public/assets/libs/jquery-steps/jquery-steps.min.js
public/assets/fonts/ArbFONTS-Tajawal-Regular-2.ttf
public/assets/fonts/ArbFONTS-Tajawal-Medium.ttf
resources/css/app-rtl.min.css
resources/css/app.rtl.css
resources/css/app.rtl.css
*.css
resources/css/app.rtl.css
resources/css/app-rtl.min.css
resources/css/app-rtl.min.css
resources/css/bootstrap-rtl.min.css
public/assets/libs/jquery-steps/jquery-steps.min.js
resources/css/app-rtl.min.css
public/assets/fonts/ArbFONTS-Tajawal-Regular.ttf
public/assets/css/bootstrap.rtl.css
app/Models/User.php
app/Http/Controllers/UsersController.php
resources/css/bootstrap-rtl.min.css
resources/css/app-rtl.min.css
public/assets/css/app.rtl.css
resources/css/bootstrap.min.css
public/assets/fonts/ArbFONTS-Tajawal-ExtraLight.ttf
resources/css/bootstrap.css
resources/css/bootstrap.min.css
resources/css/bootstrap.rtl.css
resources/views/layouts/topbar.blade.php
resources/views/layouts/sidebar.blade.php
resources/views/layouts/master.blade.php
resources/views/layouts/master-without-nav.blade.php
resources/views/layouts/head-css.blade.php
resources/views/layouts/footer.blade.php
resources/views/auth/register.blade.php
resources/views/auth/passwords/reset.blade.php
resources/views/auth/passwords/email.blade.php
resources/views/auth/login.blade.php
resources/css/bootstrap.rtl.css
routes/web.php
resources/views/layouts/vendor-scripts.blade.php
app/Http/Controllers/UsersController.php
app/Models/User.php
